@import './variable.scss';
// 在这里添加不同主题下的样式

$themes:(
    dark:(
        background: $black,
        background2: $black2,
        basic-textcolor: $white,
        // 按钮
        btn-primary-background: $black2,
        btn-primary-color: $white,
        btn-primary-background-hover:#409eff,
        btn-primary-boder-hover: 1px solid #409eff,
        btn-primary-color-hover: #FFFFFF,
        card-box-shadow: $dark-card-box-shadow,
        // el-descriptions
        el-descriptions-label: $white3,
        el-descriptions-content: $white,
    ),
    light:(
        background: $white,
        background2: $white2,
        basic-textcolor: $black,
        // 按钮
        btn-primary-background: $white2,
        btn-primary-color: $black,
        btn-primary-background-hover: #f86065,
        btn-primary-boder-hover: 1px solid #f86065,
        btn-primary-color-hover: #FFFFFF,
        card-box-shadow: $light-card-box-shadow,
        // el-descriptions
        el-descriptions-label: $black3,
        el-descriptions-content: $black,
    )
)