// 在这里设置基本的变量
$light-topmenu-background: #fff; // 背景色
$dark-topmenu-background: #000; // 背景色
$light-topmenu-color: #000; // 文字颜色
$dark-topmenu-color: #fff; // 文字颜色

$light-primary-btn-bg: #fff; // 按钮背景色
$dark-primary-btn-bg: #000; // 按钮背景色
$light-primary-btn-text: #000; // 按钮文字
$dark-primary-btn-text: #fff; // 按钮文字