/*
    这里修改element-plus的全局样式
*/

// 修改主题样式
:root{
    // --el-color-primary: #28A745 !important;
    // --el-color-primary-dark-2:  #1E7E34 !important;
    // --el-color-primary-light-3: #28a746cf !important;
    --el-menu-bg-color: unset !important;
    --el-menu-text-color: #e1e1e1 !important;
    --el-menu-active-color: #ffcf4c !important;
    --el-menu-hover-bg-color: #00000066 !important;
    --el-border-radius-base: 0 !important;
}

// 让打开的子菜单块显示一个透明黑色的背景
.el-sub-menu.is-opened {
    background-color: var(--el-menu-hover-bg-color) !important;
    .el-sub-menu__title, .el-icon {
        color: #ffffff !important;
    }
    .is-active {
        background-color: unset !important; 
        .el-icon {
            color: var(--el-menu-active-color) !important;
        }
    }
}

// 让选中的主菜单及其图标都展示黄色
.el-menu-item.is-active {
    background-color: var(--el-menu-hover-bg-color) !important;
    .el-icon {
        color: var(--el-menu-active-color) !important;
    }
}
// 让选中的子菜单的父级菜单（最小化时）也展示黑色背景
.el-sub-menu.is-active {
    background-color: var(--el-menu-hover-bg-color) !important;
}
// 子菜单向右多便宜9像素
.el-sub-menu {
    .el-menu-item {
        padding-left: calc(var(--el-menu-base-level-padding) + var(--el-menu-level) * var(--el-menu-level-padding) + 9px) !important;
    }
}
// 浮动弹出的菜单背景色也改成黑色
.el-menu.el-menu--popup {
    background-color: #1f1f1f;
}

// 主菜单的图标字符颜色要暗一些
.aside-container .el-menu .el-icon {
    color: var(--el-menu-text-color);
}

// 卡片去除圆角
.el-card {
    --el-card-border-radius: 0 !important;
}

.el-form-item.mb-0 {
    margin-bottom: 0 !important;
}

.el-dialog__body {
    padding-top: calc(var(--el-dialog-padding-primary)) var(--el-dialog-padding-primary) !important;
}