/*
    这里修改element-plus的全局样式
*/
@import './themes/themeVariable.scss';
@import './themes/themeMixin.scss';

// 修改主题样式
:root{
    // --el-color-primary: #28A745 !important;
    // --el-color-primary-dark-2:  #1E7E34 !important;
    // --el-color-primary-light-3: #28a746cf !important;
    --el-menu-bg-color: unset !important;
    --el-menu-text-color: #e1e1e1 !important;
    --el-menu-active-color: #ffcf4c !important;
    --el-menu-hover-bg-color: #00000066 !important;
    --el-border-radius-base: 0 !important;
}

.el-descriptions__body{
    background-color: transparent !important;
}

// 切换主题控制的样式
@include themify($themes){
    .el-switch__label:not(.is-active){
        color: themed('basic-textcolor') !important;
    }

    .el-descriptions__label{
        color: themed('el-descriptions-label') !important; 
    }

    .el-descriptions__content{
        color: themed('el-descriptions-content') !important;
    }

    .el-drawer__header{
        color: themed('el-descriptions-content') !important;
    }
}